<div>
  <%= image_tag @book.get_profile_image(100,100)  %>
  <p><%= @book.user.name %></p>
  <p>Title <%= @book.title %></p>
  <p>Opinion <%= @book.body %></p>
</div>

<% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
<% end %>
